/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    @include button;
  }

  .default {
    background-color: $color-four;
    &:hover{
      background-color: $bg-default-light;
      transition: .3s ease-in-out;
    }
  }
  
  .error {
    background-color: $color-five;
    &:hover{
      background-color: $bg-error-light;
      transition: .3s ease-in-out;
    }
  }
  

  
  
  