/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    @include button;
  }

  .default {
    background-color: $color-four;
    &:hover{
      background-color: $bg-default-light;
      @include trans;
    }
  }
  
  .error {
    background-color: $color-five;
    &:hover{
      background-color: $bg-error-light;
      @include trans;
    }
  }
  .success{
    background-color: $color-success;
    &:hover{
      background-color: $bg-success-light;
      @include trans;
    }
  }
  .warning{
    background-color: $color-warning;
    &:hover{
      background-color: $bg-warning-light;
      @include trans;
    }
  }
  .info{
    background-color: $color-info;
    &:hover{
      background-color: $bg-error-light;
      @include trans;
      }
    }
  

  
  
  