//Media Queriers variable
$mq:768px;

//color variable
$color-prim:#c71585;
$color-sec:#2e8b57;
$color-third:#191970;
$color-four:#4169e1;
$color-five:#ff4500;
$color-accent:#00ff00;

//lighten color function
$bg-default-light:lighten($color-accent, 15%);
$bg-error-light:lighten($color-accent, 15%);


// font variable
$stack-sans-serif:'Lato', sans-serif;