//Media Queriers variable
$mq:768px;

//color variable
$color-prim: #777;
$color-sec: #fff;
$color-third: #58e1c1;
$color-four: #51ddfc;
$color-five: #ccc;

// font variable
$font-stack-primary:'Lato', sans-serif;