//Media Queriers variable
$mq:768px;

//color variable
$color-prim:#c71585;
$color-sec:#2e8b57;
$color-third:#191970;
$color-four:#4169e1;
$color-five:#ff4500;

// font variable
$font-stack:'Lato', sans-serif;